body{
    background-color:darkorchid;

}


.login_div1{
    background-color: aliceblue;
    margin-left: 500px;
}

.login_div2{
    background-color: aliceblue;
    margin-left: 500px;
    margin-top: 50px;
}

#login{
    margin-top: 130;
}